body {
    background-image:    url(dih.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;

}
.right {text-align: right; color: red;font-size: x-large;}

.angel {color:rgb(221, 31, 31)}

.angeloc {text-align: 1000px;}

.container {
  position: relative;
}

.move-me {                     /* <---this is the class*/
  position: absolute;  /*command to control placement. absolute if for fine tuned location*/
  top: 0px;
  left: 100px;        /*these are the controls for where the image goes*/
  color: rgb(224, 52, 240);
  
}

.move-me2 {                     /* <---this is the class*/
  position: absolute;  /*command to control placement. absolute if for fine tuned location*/
  top: 0px;
  left: 250px;        /*these are the controls for where the image goes*/
  color: rgb(224, 52, 240);
}

.move-me3 {                     /* <---this is the class*/
  position: absolute;  /*command to control placement. absolute if for fine tuned location*/
  top: 0px;
  left: 50px;        /*these are the controls for where the image goes*/
  color: rgb(224, 52, 240);
     background: #fff7e8;
    padding: 20px;
    border-radius: 12px;
}

.angel-text {                     /* <---this is the class*/
  position: absolute;  /*command to control placement. absolute if for fine tuned location*/
  top: 400px;
  left: 270px;        /*these are the controls for where the image goes*/
  color: rgb(224, 52, 240);
   background: #fff7e8;
    padding: 20px;
    border-radius: 12px;
}
.container {
  position: relative;
}

.cont{                     /* <---this is the class*/
  position: absolute;  /*command to control placement. absolute if for fine tuned location*/
  top: 460px;
  left: 0px;        /*these are the controls for where the image goes*/
  color: rgb(210, 241, 28);
  font-size: large;
}


.crawl {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: aliceblue;
}

.top-section {
    background: #fff7e8;
    padding: 20px;
    border-radius: 12px;
}

.navigation h2 {
    margin-top: 0;
}

.navigation li {
    margin-bottom: 8px;
}

.navigation a {
    color: #149c75;
    font-weight: bold;
}