body {
    background-color: rgb(54, 238, 177);


}

html {
    font-family: 'BM stamp', sans-serif;
}


#creature-form {
    background: #eeeeee;
    padding: 20px;
    margin: 50px;
}

#creature-form DIV {
    margin-bottom: 20px;
}

#creature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
}


#creature-list>DIV {
    background: rgb(234, 176, 185);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}